/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 800

.sora-<uniquifier> {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */